<p id="notice"><%= notice %></p>

<h1>Listing Vendors</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Password digest</th>
      <th>Legal name</th>
      <th>Dba</th>
      <th>Type</th>
      <th>Jbt num</th>
      <th>Jbt rating</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone</th>
      <th>Cell phone</th>
      <th>Fax</th>
      <th>Website</th>
      <th>Facebook</th>
      <th>Linkedin</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendors.each do |vendor| %>
      <tr>
        <td><%= vendor.email %></td>
        <td><%= vendor.password_digest %></td>
        <td><%= vendor.legal_name %></td>
        <td><%= vendor.dba %></td>
        <td><%= vendor.type %></td>
        <td><%= vendor.jbt_num %></td>
        <td><%= vendor.jbt_rating %></td>
        <td><%= vendor.first_name %></td>
        <td><%= vendor.last_name %></td>
        <td><%= vendor.phone %></td>
        <td><%= vendor.cell_phone %></td>
        <td><%= vendor.fax %></td>
        <td><%= vendor.website %></td>
        <td><%= vendor.facebook %></td>
        <td><%= vendor.linkedin %></td>
        <td><%= vendor.address1 %></td>
        <td><%= vendor.address2 %></td>
        <td><%= vendor.city %></td>
        <td><%= vendor.state %></td>
        <td><%= vendor.zip %></td>
        <td><%= vendor.country %></td>
        <td><%= link_to 'Show', vendor %></td>
        <td><%= link_to 'Edit', edit_vendor_path(vendor) %></td>
        <td><%= link_to 'Destroy', vendor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vendor', new_vendor_path %>
