<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @vendor.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @vendor.password_digest %>
</p>

<p>
  <strong>Legal name:</strong>
  <%= @vendor.legal_name %>
</p>

<p>
  <strong>Dba:</strong>
  <%= @vendor.dba %>
</p>

<p>
  <strong>Type:</strong>
  <%= @vendor.type %>
</p>

<p>
  <strong>Jbt num:</strong>
  <%= @vendor.jbt_num %>
</p>

<p>
  <strong>Jbt rating:</strong>
  <%= @vendor.jbt_rating %>
</p>

<p>
  <strong>First name:</strong>
  <%= @vendor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @vendor.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @vendor.phone %>
</p>

<p>
  <strong>Cell phone:</strong>
  <%= @vendor.cell_phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @vendor.fax %>
</p>

<p>
  <strong>Website:</strong>
  <%= @vendor.website %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @vendor.facebook %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @vendor.linkedin %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @vendor.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @vendor.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @vendor.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @vendor.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @vendor.zip %>
</p>

<p>
  <strong>Country:</strong>
  <%= @vendor.country %>
</p>

<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
